@import 'styles/common.scss';

.header {
  @include vertical-center;

  color: $white;
  cursor: default;
  font-size:1.4rem;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  user-select: none; 
}

.monthDisplay {
  @include row;

  align-items: center;
  height: 60px;
  background: $secondary;
}

