@import 'styles/common.scss';

.arrowWrapper {
  display: flex;
  width: calc(100% / 7);
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;

  &:hover {
    background: $dkSecondary;
  }
}
